<div ng-controller="testController">
    <tabset> 
        <tab heading="Create CS Sales Order & GRN-VRRE">
            <form name="motorForm"  novalidate>
                <input type="text" ng-model="ngtext" ng-required="true"/>
                <button type="submit" ng-click="CSsalesVRRESave(motorForm)">submit</button>
            </form>
        </tab>
        <tab heading="Create CS Sales Order & GRN-VRRE">
            <div>somthing inside it</div>
        </tab>
    </tabset>
</div>